:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}

.text-shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-weight: 400;
    text-align: center;
    margin: 0;
    animation: shadows 1.2s ease-in infinite;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #8900e1;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        transform: translate(-3px, -3px);
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
        transform: translate(-6px, -6px);
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    30% {
        transform: translate(-9px, -9px);
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
        transform: translate(-12px, -12px);
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    50% {
        transform: translate(-12px, -12px);
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    60% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    70% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
        text-shadow: none;
    }
}