body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-button{
  font-size: 1.5rem;
  font-family: 'Ma Shan Zheng', cursive;
  color: black;
  display: inline-flex;
}

.homeButton-nav-link{
  font-size: 1.5rem;
  font-family: 'Ma Shan Zheng', cursive;
  color: black;
  /* background-color: #56018D; */
  border-radius: 10px;
  display: inline-flex;
}

.nav-link-unselected{
  font-size: 1.5rem;
  font-family: 'Ma Shan Zheng', cursive;
  color: black;
  display: inline-flex;
}

.nav-link.active {
  text-decoration: underline;
  color: #56018D;
  font-size: 1.5rem;
  font-family: 'Ma Shan Zheng', cursive;
  display: inline-flex;
}

.MuiPaper-elevation4 {
  box-shadow: none;
}
